html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

* {
  font-family: sans-serif; }

header {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  max-width: none;
  margin-bottom: 50px; }
  header::after {
    clear: both;
    content: "";
    display: table; }
  header a {
    display: inline-block;
    text-decoration: none;
    color: #565D64;
    margin: 0px 20px 14px 18px;
    text-align: center; }
    header a:hover {
      color: #000; }
  header figure {
    width: 100%;
    height: 200px;
    margin: 0px;
    z-index: 1;
    background-image: url(../assets/background.jpg); }
  header h1 {
    display: block;
    position: relative;
    width: 400px;
    height: 0px;
    bottom: 150px;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: normal;
    text-shadow: 1px 1px #000;
    color: #FFF;
    z-index: 2; }

main {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: none;
  padding: none; }
  main::after {
    clear: both;
    content: "";
    display: table; }
  main section {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-bottom: 35px; }
    main section:last-child {
      margin-right: 0; }
    main section figure {
      height: 220px;
      margin: 0px 8px;
      padding-top: 30px;
      border: 1px solid #DDDDDD; }
      main section figure h2 {
        color: #FFF;
        text-align: center;
        font-size: 70px;
        transform: scaleY(1.5);
        margin: 15px 0px; }
      main section figure h3 {
        color: #FFF;
        text-align: center;
        font-size: 14px;
        margin: 0px;
        letter-spacing: 3px; }
      main section figure figcaption {
        text-align: center;
        font-size: 18px;
        margin: 0px;
        margin-bottom: 40px; }
    main section ul {
      text-decoration: none;
      text-align: center;
      list-style: none;
      text-indent: none;
      margin: 0px;
      padding: 0px; }
      main section ul li {
        display: block;
        background-color: #F7F7F7;
        border: 1px solid #DDDDDD;
        margin: 0px 8px;
        height: 45px;
        padding-top: 10px;
        font-size: 18px;
        color: #526066; }
    main section div {
      height: 85px;
      padding-top: 25px;
      border: 1px solid #DDDDDD;
      margin: 0px 8px; }
      main section div button {
        display: block;
        height: 35px;
        width: 95px;
        margin: 0 auto 25px;
        background: #FFF;
        border-radius: 20px;
        border: 1px solid #DDDDDD;
        font-size: 18px;
        font-weight: bold;
        color: #333333; }
        main section div button:focus {
          outline: none; }

section.plan1 figure {
  background-color: #519251; }
  section.plan1 figure figcaption {
    color: #A7C8A7; }

section.plan2 figure {
  background-color: #2C4985; }
  section.plan2 figure figcaption {
    color: #95A3C2; }

section.plan3 figure {
  background-color: #111111; }
  section.plan3 figure figcaption {
    color: #878787; }

section.pitch {
  margin-left: 6.82384%; }
  section.pitch h4 {
    font-size: 25px;
    margin: 60px 0px 20px 0px;
    letter-spacing: 3px;
    font-weight: lighter;
    margin-right: 15%; }
  section.pitch p {
    font-size: 20px;
    font-weight: lighter;
    color: #526066;
    margin-right: 15%; }

footer {
  padding: 20px 10% 0px 10%;
  height: 100px;
  width: 100%;
  background-color: #111111;
  color: #888888;
  text-align: center;
  margin: 0px;
  max-width: none;
  line-height: 30px;
  font-size: 16px; }
  footer a {
    color: #DDDDDD; }

@media (max-width: 478px) {
  * {
    overflow-x: hidden; }
  figure {
    padding: 0px;
    max-width: 478px;
    overflow-x: hidden;
    overflow-y: hidden; }
    figure button {
      overflow: hidden; } }

@media (min-width: 479px), (max-width: 767px) {
  header figure {
    height: 400px; }
  header h1 {
    bottom: 250px;
    font-size: 46px; }
  footer {
    padding: 20px 7% 0px 7%; } }

@media (min-width: 768px), (max-width: 978px) {
  main section {
    display: block;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin: auto;
    clear: none;
    margin-left: 1.27947%; }
    main section:last-child {
      margin-right: 0; }
    main section figure {
      margin: 2.5%; }
    main section ul li {
      font-size: 16px; }
  main section.pitch {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    display: block; }
    main section.pitch::after {
      clear: both;
      content: "";
      display: table; }
    main section.pitch:last-child {
      margin-right: 0; }
    main section.pitch article {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%;
      display: block;
      margin: 0px;
      margin-left: 8.5298%; }
      main section.pitch article:last-child {
        margin-right: 0; }
      main section.pitch article h4 {
        margin-left: 0px;
        margin-right: 0px;
        font-size: 20px; }
      main section.pitch article p {
        margin-left: 0px;
        margin-right: 0px;
        font-size: 16px;
        line-height: 24px; }
  footer {
    height: 75px;
    padding-top: 20px; } }
